* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Helvetica', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  position: relative;
  top: -16px;
}

.onHover {
  cursor: pointer;
}

.preview_item {
  cursor: move;
}

.bg-default {
  background-color: #fafafa !important;
}

.demo-form {
  min-height: 100vh;
  width: 100vw;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(250, 250, 250, 0.8);
}

.form_editor {
  height: 100vh;
  width: 100vw;
  z-index: 10;
  position: fixed;
  top: 0;
	left: 0;
  background-color: rgba(250, 250, 250, 0.8);
}

.final-preview {
  height: 100vh;
  width: 100vw;
  z-index: 10;
  position: fixed;
  top: 0;
	left: 0;
	overflow: auto;
  background-color: rgba(250, 250, 250, 0.8);
}

.demo-editor {
  background-color: #fff;
  height: 200px;
  padding: 10px;
  border: 1px solid #ccc;
}

.demo-wrapper {
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.toolbar-item {
	transition: all 0.1s ease-in;
}
.toolbar-item:hover {
	box-shadow: 0px 5px 10px gray;
}